# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file
# Ignore build and test binaries.
bin/
testbin/

# scripts directory
hack

# test directory
test

# kubernetes config directory
config