# More info: https://docs.docker.com/engine/reference/builder/#dockerignore-file

# root files
README.md
Tiltfile

# scripts directory
hack

# test directory
test

# kubernetes config directory
config

# tilt config
tilt