{
  "openapi": "3.1.0",
  "info": {
    "title": "spirits",
    "version": "0.0.0",
    "description": "spirits is a turn-based battle royale game"
  },
  "servers": [
    {
      "url": "https://oh-great-spirits.herokuapp.com",
      "description": "The hosted spirits gameserver"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Retrieve the OpenAPI specification currently served",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Object conforming to the OpenAPI standard"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "type": "openIdConnect",
      "openIdConnectUrl": "https://oh-great-spirits.herokuapp.com"
    }
  }
}
