* {
  font-family: monospace; 
}

#container {
  margin-left: 10%;
  margin-right: 10%;
}

.row {
  display: flex;
}

.column {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 4px solid #d3d3d3;
}

h2 {
  text-align: center;
  margin-bottom: 8px;
  color: red;
  height: 1em;
}

h3 {
  text-align: center;
  padding-bottom: 4px;
  margin-bottom: 4px;
  border-bottom: 2px solid #d3d3d3;
}

textarea {
  border: 1px solid #d3d3d3;
  width: 75%;
  height: 256px;
  margin-left: 12%;
  margin-right: 12%;
}