*, *:before, *:after {
  font-family: monospace;

  /* use content+padding+border as element size */
  box-sizing: border-box;

  /* turn off user-agent default spacing */
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

/* layout */

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  resize: none;
}

.text-container {
  overflow: scroll;
  white-space: pre-wrap;
  background: lightgray;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

/* spacing */

.padded {
  padding: 2%;
}

.margin-bottom {
  margin-bottom: 1%;
}

/* visuals */

.border {
  border: 4px solid green;
}

.border-small {
  border: 2px solid black;
}

/* components */

.button {
  margin: 2%;
  padding: 1%;
}

.button:hover {
  background-color: lightgreen;
}

/* utilities */

.hidden {
  display: none;
}